[submodule "third_party/vk-bootstrap"]
	path = third_party/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "third_party/volk"]
	path = third_party/volk
	url = https://github.com/zeux/volk
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
